
:root {
    --blanco: rgb(240, 240, 240);
    --blanco-azulado:rgb(200, 245, 255);
    --botonInicioBlancoNormal: #cccccc;
    --botonInicioBlancoIntenso: #ffffee;
    --grisVacio: rgb(59, 59, 59);
    --casiNegro: #111111;
    --gradi-azul1:#0162c8;
    --gradi-azul2: #55e7fc;
    --gradi-gris1: #5f5f5f;
    --gradi-gris2: #494949;
    --gradi-rojo1: rgb(148, 4, 4);
    --gradi-rojo2: rgb(255, 23, 5);
    --gradi-verde1: rgb(25, 240, 9);
    --gradi-verde2: rgb(25, 180, 9);
    --fichaRoja: #9E0018;
    --fichaVerde: #F7A20F;
    --colorTxtJugador: darkred;
    --colorTxtCPU: darkgreen;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: url('assets/img/fondo-mosaico1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#main {
    /* border: 1px solid green; */
    width: inherit;
    height: inherit;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* z-index: 9; */
}

#textos {
    width: 100vw;
    height: fit-content;
    max-width: 800px;
    display: flex;
    justify-content: center;
    gap: 12rem;
    overflow: hidden;
    position: relative;
    padding: 0 1.5rem;
}

#textos p {
    font-size: 32px;
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px 2px #111;
    /* animation: none; */
}

#canvas {
    border: 1px solid var(--casiNegro);
    border-radius: 6px;
    background-color: var(--grisVacio);
    width: 763px;
    height: 654px;
    /* 7 x 109 | 6 x 109 */
}

.botones-inicio {
    border: none;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    max-width: 300px;
    font-size: 48px;
    font-weight: bold;
    color: #999;
    background: linear-gradient(90deg, var(--gradi-rojo2), var(--gradi-rojo1));
    padding: 1.8rem 3.2rem;
    /* margin: 1.2rem 0 0.2rem 0; */
    margin-top: 20rem;
    display: inline-block;
    position: absolute;
    opacity: 0.7;
    /* transition: all 1s; */
    animation: none;
    cursor: pointer;
}

.botones-inicio:hover {
    color: var(--botonInicioBlancoIntenso);
}

.botones-func {
    border: none;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    max-width: 180px;
    font-size: 24px;
    font-weight: bold;
    color: var(--casiNegro);
    background: linear-gradient(90deg, var(--gradi-gris1), var(--gradi-gris2));
    text-shadow: 1px 1px 2px #111;
    padding: 0.8rem 2rem;
    margin: 1rem 2rem 1rem 0;
    display: inline-block;
    right: 0;
    margin-right: 2rem;
    opacity: 0.7;
    /* transition: all 1s; */
    cursor: pointer;
}

.botones-func:hover {
    color: var(--botonInicioBlancoIntenso);
}

.oculto {
    display: none;
}

.no-oculto {
    display: inline-block;
}

@keyframes animaTxt {
    0% {
        transform: scaleY(1.1);
    }
    50% {
        transform: scaleY(0.6);
    }
    100% {
        transform: scaleY(1.1);
    }
}

@keyframes gradientInfo {
    0% {
        filter: brightness(0.7);
    }
    50% {
        filter: brightness(0.5);
    }
    100% {
        filter: brightness(0.7);
    }
}

/* ----------------------------------------------------
RESPONSIVE
---------------------------------------------------- */
@media (max-width: 768px) {
    #canvas {
        width: 420px;
        height: 360px;
        /* 7 x 60 | 6 x 60 */
    }

    .botones-inicio {
        max-width: 180px;
        font-size: 32px;
        padding: 1rem 2rem;
        margin-top: 12rem;
    }

    .botones-func {
        max-width: 120px;
        font-size: 18px;
        padding: 0.4rem 1.2rem;
        margin: 0.6rem 0.4rem 0.6rem 0;
    }

    #textos {
        padding: 0 0.8rem;
        gap: 1rem;
    }

    #textos p {
        font-size: 18px;
        font-weight: bold;
        color: yellow;
        text-shadow: 1px 1px 1px #111;
        /* animation: none; */
    }
}
